.menuContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
;
}
.menuList{
    display: flex;
    flex-direction: column;
    background-color: #e1e5ea ;
    align-items: center;
    padding-right: 1.5em;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    text-align: center;
}
.menuLinkStyle1{
     font-family: 'open sans';
    font-weight:700;
    font-size: 18px;
    color: black;
    text-decoration: none;
    letter-spacing: 0.08em;
}
.optionLinkStyle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    margin: .25em;
}
.OptionsContainer{
    width:100%
}
.optionsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.optionsColumn{
    display: flex;
    flex-direction: column;
}