.container{
    display: flex;
    width: 80vw;
    justify-content: 'center';
    align-items: flex-start;
    margin-top: 2em;
    flex-direction: column;
}
.linkContainer{
    display: flex;
    width:'100%';

}
.column{
    display:flex;
    width: 22vw;
    margin: 2vw;
    flex-direction: column;
}
.links{
    margin-bottom: 1em;
}
.publishContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0;
    padding:0;
}
.updateFlag{
    background-color: #757575;
    color: white;
    font-family: 'open sans';
    font-size: 13px;
    text-transform: capitalize;
    padding: .25rem;
    margin-left: .25rem;
    border-radius: 3px;


}
.publishDate{
    margin:0;
    padding:0;
}
.updateCard{
    margin-top: 1rem;
}