/* .container{
    display: flex;
    width: 80vw;
    justify-content: 'center';
    align-items: flex-start;
    margin-top: 2em;
    flex-direction: column;
}
.linkContainer{
    display: flex;
    width:'100%';

}
.column{
    display:flex;
    width: 22vw;
    margin: 2vw;
    flex-direction: column;
}
.links{
    margin-bottom: 1em;
}
.publishContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0;
    padding:0;
}
.updateFlag{
    background-color: #757575;
    color: white;
    font-family: 'open sans';
    font-size: 13px;
    text-transform: capitalize;
    padding: .25rem;
    margin-left: .25rem;
    border-radius: 3px;
}
.publishDate{
    margin:0;
    padding:0;
}
.updateCard{
    margin-top: 1rem;
}
.calendarContianer{
    display: flex;
    flex-direction: row;
    margin-top: 1em
}
.dateBox{
    display: flex;
    flex-direction: column;
    height: 108px;
    width:88px;
    background-color: #8C6910;
    justify-content: center;
    align-items: center;
}
.month{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: white;
}
.day{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;

    color: white;
}
.detailBox{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    margin-left: 1em;
}
.detailHr{
    height: 1px;
    width: 100%;
    background-color: #757575;
}
.eventTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.06em;
}
.eventLocation{
    display: flex;
    justify-content: flex-start;
    margin-bottom: .5rem;
}
.eventTime{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.eventContact{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.eventButtonContainer{
    width: 40%;
    margin: 1em;
} */

@media only screen and (max-width: 400px) {
    .container{
    display: flex;
    width: 95%;
    justify-content: 'center';
    align-items: flex-start;
    margin-top: 2em;
    flex-direction: column;
}
.linkContainer{
    display: flex;
    width:'100%';
    flex-direction: column;

}
.column{
    display:flex;
    width: 100%;
    margin: 2vw;
    flex-direction: column;
}
.links{
    margin-bottom: 1em;
}
.publishContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0;
    padding:0;
}
.updateFlag{
    background-color: #757575;
    color: white;
    font-family: 'open sans';
    font-size: 13px;
    text-transform: capitalize;
    padding: .25rem;
    margin-left: .25rem;
    border-radius: 3px;
}
.publishDate{
    margin:0;
    padding:0;
}
.updateCard{
    margin-top: 1rem;
}
.calendarContianer{
    display: flex;
    flex-direction: row;
    margin-top: 1em
}
.dateBox{
    display: flex;
    flex-direction: column;
    height: 108px;
    width:88px;
    background-color: #8C6910;
    justify-content: center;
    align-items: center;
}
.month{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: white;
}
.day{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;

    color: white;
}
.detailBox{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    margin-left: 1em;
}
.detailHr{
    height: 1px;
    width: 100%;
    background-color: #757575;
}
.eventTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.06em;
}
.eventLocation{
    display: flex;
    justify-content: flex-start;
    margin-bottom: .5rem;
}
.eventTime{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.eventContact{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.eventButtonContainer{
    width: 40%;
    margin: 1em;
}
}
@media only screen and (min-width: 400px) {
       .container{
    display: flex;
    width: 95%;
    justify-content: 'center';
    align-items: flex-start;
    margin-top: 2em;
    flex-direction: column;
}
.linkContainer{
    display: flex;
    width:'100%';
    flex-direction: column;

}
.column{
    display:flex;
    width: 100%;
    margin: 2vw;
    flex-direction: column;
}
.links{
    margin-bottom: 1em;
}
.publishContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0;
    padding:0;
}
.updateFlag{
    background-color: #757575;
    color: white;
    font-family: 'open sans';
    font-size: 13px;
    text-transform: capitalize;
    padding: .25rem;
    margin-left: .25rem;
    border-radius: 3px;
}
.publishDate{
    margin:0;
    padding:0;
}
.updateCard{
    margin-top: 1rem;
}
.calendarContianer{
    display: flex;
    flex-direction: row;
    margin-top: 1em
}
.dateBox{
    display: flex;
    flex-direction: column;
    height: 108px;
    width:88px;
    background-color: #8C6910;
    justify-content: center;
    align-items: center;
}
.month{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: white;
}
.day{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;

    color: white;
}
.detailBox{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    margin-left: 1em;
}
.detailHr{
    height: 1px;
    width: 100%;
    background-color: #757575;
}
.eventTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.06em;
}
.eventLocation{
    display: flex;
    justify-content: flex-start;
    margin-bottom: .5rem;
}
.eventTime{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.eventContact{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.eventButtonContainer{
    width: 40%;
    margin: 1em;
}
}
@media only screen and (min-width: 768px) {
    .container{
    display: flex;
    width: 80vw;
    justify-content: 'center';
    align-items: flex-start;
    margin-top: 2em;
    flex-direction: column;
}
.linkContainer{
    display: flex;
    width:'100%';
    flex-direction: row;

}
.column{
    display:flex;
    width: 22vw;
    margin: 2vw;
    flex-direction: column;
}
.links{
    margin-bottom: 1em;
}
.publishContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0;
    padding:0;
}
.updateFlag{
    background-color: #757575;
    color: white;
    font-family: 'open sans';
    font-size: 13px;
    text-transform: capitalize;
    padding: .25rem;
    margin-left: .25rem;
    border-radius: 3px;
}
.publishDate{
    margin:0;
    padding:0;
}
.updateCard{
    margin-top: 1rem;
}
.calendarContianer{
    display: flex;
    flex-direction: row;
    margin-top: 1em
}
.dateBox{
    display: flex;
    flex-direction: column;
    height: 108px;
    width:88px;
    background-color: #8C6910;
    justify-content: center;
    align-items: center;
}
.month{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: white;
}
.day{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;

    color: white;
}
.detailBox{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    margin-left: 1em;
}
.detailHr{
    height: 1px;
    width: 100%;
    background-color: #757575;
}
.eventTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.06em;
}
.eventLocation{
    display: flex;
    justify-content: flex-start;
    margin-bottom: .5rem;
}
.eventTime{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.eventContact{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.eventButtonContainer{
    width: 40%;
    margin: 1em;
}
}
@media only screen and (min-width: 992px) {
    .container{
    display: flex;
    max-width: 70%;
    justify-content: 'center';
    align-items: flex-start;
    margin-top: 2em;
    flex-direction: column;
}
.linkContainer{
    display: flex;
    width:'100%';
    flex-direction: row;

}
.column{
    display:flex;
    width: 22vw;
    margin: 2vw;
    flex-direction: column;
}
.links{
    margin-bottom: 1em;
}
.publishContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0;
    padding:0;
}
.updateFlag{
    background-color: #757575;
    color: white;
    font-family: 'open sans';
    font-size: 13px;
    text-transform: capitalize;
    padding: .25rem;
    margin-left: .25rem;
    border-radius: 3px;
}
.publishDate{
    margin:0;
    padding:0;
}
.updateCard{
    margin-top: 1rem;
}
.calendarContianer{
    display: flex;
    flex-direction: row;
    margin-top: 1em
}
.dateBox{
    display: flex;
    flex-direction: column;
    height: 108px;
    width:88px;
    background-color: #8C6910;
    justify-content: center;
    align-items: center;
}
.month{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: white;
}
.day{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;

    color: white;
}
.detailBox{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    margin-left: 1em;
}
.detailHr{
    height: 1px;
    width: 100%;
    background-color: #757575;
}
.eventTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.06em;
}
.eventLocation{
    display: flex;
    justify-content: flex-start;
    margin-bottom: .5rem;
}
.eventTime{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.eventContact{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.eventButtonContainer{
    width: 40%;
    margin: 1em;
}
}
@media only screen and (min-width: 1200px) {
.container{
    display: flex;
    width: 80vw;
    justify-content: 'center';
    align-items: flex-start;
    margin-top: 2em;
    flex-direction: column;
}
.linkContainer{
    display: flex;
    width:'100%';
    flex-direction: row;

}
.column{
    display:flex;
    width: 22vw;
    margin: 2vw;
    flex-direction: column;
}
.links{
    margin-bottom: 1em;
}
.publishContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0;
    padding:0;
}
.updateFlag{
    background-color: #757575;
    color: white;
    font-family: 'open sans';
    font-size: 13px;
    text-transform: capitalize;
    padding: .25rem;
    margin-left: .25rem;
    border-radius: 3px;
}
.publishDate{
    margin:0;
    padding:0;
}
.updateCard{
    margin-top: 1rem;
}
.calendarContianer{
    display: flex;
    flex-direction: row;
    margin-top: 1em
}
.dateBox{
    display: flex;
    flex-direction: column;
    height: 108px;
    width:88px;
    background-color: #8C6910;
    justify-content: center;
    align-items: center;
}
.month{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: white;
}
.day{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;

    color: white;
}
.detailBox{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    margin-left: 1em;
}
.detailHr{
    height: 1px;
    width: 100%;
    background-color: #757575;
}
.eventTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.06em;
}
.eventLocation{
    display: flex;
    justify-content: flex-start;
    margin-bottom: .5rem;
}
.eventTime{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.eventContact{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.eventButtonContainer{
    width: 40%;
    margin: 1em;
}
}